*{
	margin: 0;
}

#all-box {
	text-align: center;
	background-color: #101010;
	padding: 10%;
}

#projects-box {
	text-align: center;
	background-color: #6666dd;
	background-color: #ffffff;
	padding: 10%;
}

#me-image {
	width: 200px;
	border-radius: 8%;
	border: 2px solid #ddd;
	padding: 1px;
}

#my-name{
	color: #ddd;
	margin: 20px;
}

#titles{
	color: #101010;
	margin: 2%;
}

#my-resume{
	color: #ddd;
	text-align:justify;
}

.box{
	vertical-align: top;
	display: inline-block;
	margin: 1em;
	width: 250px;
}

.box-block{
	display: block;
}

.project-content{
	padding: 10px;
	margin-top: 20px;
	/*background-color: black;*/
}

.project-title{
	margin: 10px;
	/*background-color: blue;*/
}

.project-description{
	/*background-color: red;*/
	/*height: 80px;*/
}

.logo-app-box{
	width: 100px;
	height: 100px;
	text-align: center;
}

.logo-app{
  	/*background-color: green;*/
	height: 100px;
}

